/* start navigator */

.navigator {
    background-color: #bcbcbc;
    padding: 20px;
    font-size: 20px;
  }
  
  .navigator a {
    text-decoration: none;
  }
  
  .navigator p {
    display: inline-block;
  }
  
/* end navigator */

/* start container */

.containerr {
    width: 100%;
    background-color: white;
}

.section {  
    width: 80%;
    height: 600px;
    margin: 30px auto;
    background-color: white;
    border-radius: 15px;
    Box-shadow: 0 0 10px #000;
    display: block;
}

.addrss {
    text-align: center;
    color: #000;
    padding: 10px;
    background-color: #ff7200;
    border-radius: 15px;

}
.section .var {
    text-align: center;
}

.var video {
    width: 90%;
    height: 400px;
    margin-top: 5px;
}

.fun {
  width: 400px;
  height: 150px;
}

.fun img {
  width: 90px;
  margin: -30px 0px 5px 20px;
  border-radius: 10px;
}

.fun p {
  margin: 0 0 5px 10px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 20px;
}